p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

.profile {
  max-width: 360px;
  border-radius: 5px;
  position: relative;
  box-shadow: 1px 1px 2px 2px rgb(163, 160, 160);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: rgba(214, 226, 43, 0.616);
  border-radius: 5px;
}

.avatar {
  border: 3px solid gray;
  border-radius: 50%;
  width: 30%;
  margin-top: 16px;
}

.name {
  text-align: center;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}

.tag {
  text-align: center;
  margin-bottom: 8px;
  color: green;
}

.location {
  text-align: center;
  color: gray;
  margin-bottom: 8px;
}

.stats {
  color: azure;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3e89b1;
  padding: 16px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.stats__item {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 16px;
  border-top: 1px solid gray;
}

.quantity {
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}

.label {
  margin-right: 4px;
}
